<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="col-12">
      <h4>Organisation unit filter demo</h4>
      <p>Demo for DHIS2 based organisation unit filter</p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
      <b>INPUTS</b>
      <code class="card" style="height: 390px">
        <div class="card-body">
          <div>CONFIG: {{ orgUnitFilterConfig | json }}</div>
          <div>SELECTED ITEMS: {{ selectedOrgUnitItems | json }}</div>
        </div>
      </code>
    </div>
    <div class="col-md-4">
      <b>ORGUNIT FILTER</b>
      <div class="card">
        <div class="card-body" style="padding: 5px;">
          <ngx-dhis2-org-unit-filter
            [orgUnitFilterConfig]="orgUnitFilterConfig"
            [selectedOrgUnitItems]="selectedOrgUnitItems"
            (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
            (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
          ></ngx-dhis2-org-unit-filter>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <b>OUTPUT</b>
      <code class="card" style="height: 390px; overflow: auto;">
        <div class="card-body">
          <div>ACTION: {{ action }}</div>
          <div>PAYLOAD: {{ orgUnitObject | json }}</div>
        </div>
      </code>
    </div>
  </div>
</div>
